body {
  background: url("../img/symphony.png");
  background-attachment: fixed;
}

/* Layout of gallery items*/
figure { 
  background: #fff;
  border-bottom: 10px solid #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 15px #696969;
  padding: 10px;
  
  /* layout */
  float: left;
  height: 250px;
  margin: 40px;
  width: 300px;
  
  /* set relative parent for each time*/
  position: relative;
}

h1 {
  font-family: 'Poiret One', cursive;
  color: #407CC9;
  padding: 5px 5px;
  text-align: center;
}


h1 {

  transform: perspective(4200px) rotateY(45deg) scale(1);
  transition: transform .5s;
}

h1:hover {
  transform: rotateY(0deg);  
  transition: transform .5s;
  cursor: crosshair;
}


h2 {
  font-family: 'Pacifico', cursive;
  color: #90C0C0;
  text-align: center;
  font-size: .75em;
  padding: 10px 10px;
}

h2:hover {
  -webkit-animation: bounce 1s infinite;
  -o-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}


h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #9794D2;
  text-align: center;
  padding: 5px;

}


figure.grid_9 {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #9794D2;
}

/* Header */
figure h5 {
  background: rgba(255,255,255,.75);
  color: #53bf6b;
  padding: 5px;
  text-align: right;
  letter-spacing: 3px;
  text-transform: uppercase;

  
  /* absolute position headings */
  position: absolute;
  top: 0;
  right: -40px;

  /* 
     * absolutely positioned elements only as wide as content
     * optionally set widths
  */

  width: 100%;

 /* bring to front */ 
  z-index: 2;
}



/*Thumbnail Positioning */

figure h2 {
  position: relative;
}



/* Caption Container */
.thumbnail {

  /* parent for caption */ 
  position: relative;
  /* 
    * set to any dimensions
    * matched to size of image in this case
  */   
  height: 150px;
  width: 110px;
  /* hide overflowing content */ 
  overflow: hidden;
  margin: auto;
  display: inline-block;
  padding: 10px 10px;
}

/* Caption - First Frame */
.thumbnail p {
  background: rgba(255,255,255,.75);
  font-size: .75em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #181818;
  padding: .25em;
  text-align: center;
  
  position: absolute;
  margin: 0;
  /* value is height of image */   
  bottom: -104px;
  
  transition: bottom 1s ease-in;
}

/* Caption - Last Frame */
.thumbnail:hover p {
  bottom: 0;
 

  transition: bottom 1s ease-in;
}


section.grid_9 {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 2;
}

/************************
NAVIGATION
*************************/
nav {
  text-align:center;
  padding:0px 10px;
  margin:10px 0 0;
  width: 100%;
  font-size: .75em;

}

nav ul {
  list-style: none;
  margin: 5px 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}



/* selected nav link */
nav a.selected, nav a:hover {
  color: #9794D2;
}

/*Links*/

a:link, 
a:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #90C0C0;
}

a:hover, 
a:active {
  color: #9794D2;
}












/* Gallery Stying */
.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
  Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
  padding: 40px;
  display: inherit;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border: 5px solid #000;

}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
  margin: auto;
  
}























/*Media Queries*/

/* Tablet */
@media screen and (max-width: 768px) {
  
  body {
    margin: auto;
    display: inline-block;
  }

section.grid_7 {
    margin: auto;
    width: 100%;
    height: 100%;

 
  }



/* Mobile */
@media screen and (max-width: 480px) {
  
  body {
   margin: auto;
  }

  section.grid_9 {
    margin: auto;
    width: 100%;
  }

.control-button {
  width: 100%;
}




/* Show Grid 
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}*/

